ENVIRONMENT=production
SECRET_JWT=teste123
DATABASE_URL=postgresql://rubcamp:rubcamp123@rubbankdb:5432/rubcamp?schema=public&connection_timeout=300
POSTGRES_DB=rubcamp
POSTGRES_USER=rubcamp
POSTGRES_PASSWORD=rubcamp123
